<%= form_for([@game, @review]) do |f| %>
	<div class="form-group">
		<p>You are reviewing as <strong><%= current_user.email %></strong>
		<%= f.hidden_field :user_id, :value => @user.id %>
	</div>
	<div class="form-group">
		<%= f.label :rating, 'Rating' %>
		<%= f.select(:rating, 1...6) %>
	</div>
	<div class="form-group">
		<%= f.label :body, 'Review' %>
		<%= f.text_area :body, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.submit "Post my Review", class: "btn btn-large btn-primary" %>
	</div>
<% end %>